img{
    display: block;
    height:  height ${height} px;
    margin-right  : 1px;
    margin-bottom : 1px;
}
h1 {
    color: ${textcolor};
}
h3 {
    color: ${textcolor};
}
body{
    background-color: ${bgcolor};
}
div{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}